.size{
    width: 1492px;
    height: 800px;
}

#example1 {
    background: url("/assets/images/Detail2.jpg");
    background-size:     1492px 800px;                      
    background-repeat:   no-repeat;
    
   
}

right{
    left: 100px;
}


